/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.padding {
  padding: 3% 0%;
}
.center {
  display: flex;
  align-items: center;
}
.flex-row {
  display: flex;
  justify-content: space-between;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.box-shadow {
  border: 1px solid;
  border-radius: 25px;
  padding: 10% 2%;
  box-shadow: 5px 10px #4d4646;
  background-color: hsl(240, 2%, 25%);
  margin: 10% 0%;
}
* {
  background-color: #232020;
  color: #DFCDC3;
}
.container {
  padding: 0% 8% 5% 8%;
}
.header {
  height: 60vh;
  border: 1px solid;
  border-radius: 25px;
  padding: 10% 2%;
  box-shadow: 5px 10px #4d4646;
  background-color: hsl(240, 2%, 25%);
  margin: 10% 0%;
}
.top {
  border-radius: 25px;
}
.links {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 3% 0%;
}
nav a {
  color: #DFCDC3;
  text-decoration: none;
  align-items: right;
}
nav a:hover {
  color: #719192;
}
.top-title {
  width: 100%;
}
.top-title .p {
  font-family: 'Georgia', cursive;
}
#button {
  border: solid #DFCDC3 2px;
  padding: 1rem 2rem;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: #DFCDC3;
}
#button:hover,
#button a:hover {
  border: solid #DFCDC3 2px;
  background-color: #DFCDC3;
  color: #232020;
}
.introduction {
  display: flex;
  justify-content: space-between;
  line-height: 1.5rem;
}
.intro,
.skills {
  background-color: hsl(240, 2%, 25%);
  font-style: italic;
  width: 50%;
}
.skills {
  padding-left: 10%;
  background-color: #232020;
}
h1 {
  font-family: 'Georgia', cursive;
  font-size: 4rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}
h4 {
  font-style: italic;
}
.experience,
.position,
.position h2,
h2,
h3,
h4,
.description,
.description p {
  background-color: hsl(240, 2%, 25%);
  padding-bottom: 1rem;
}
.experience .work-history h2,
.position .work-history h2,
.position h2 .work-history h2,
h2 .work-history h2,
h3 .work-history h2,
h4 .work-history h2,
.description .work-history h2,
.description p .work-history h2 {
  text-align: center;
  font-size: 1.5rem;
}
.work-history {
  border: 1px solid;
  border-radius: 25px;
  padding: 10% 2%;
  box-shadow: 5px 10px #4d4646;
  background-color: hsl(240, 2%, 25%);
  margin: 10% 0%;
  background-color: #232020;
}
.experience {
  display: flex;
  justify-content: space-between;
}
.position {
  width: 30%;
}
.description {
  width: 50%;
}
.contact {
  display: flex;
  flex-direction: column;
  padding: 3% 0%;
}
